---
const { link, title, date, tags, description } = Astro.props
---

<li class="container px-20 hover:scale-105 transition-transform">
   <div
      class="w-full py-3 px-3 h-48 bg-light-300 flex flex-col justify-between border border-primary-200 shadow-md rounded-lg"
   >
      <div class="flex justify-between items-center">
         <a
            href={link}
            class="underline decoration-tertiary-600 underline-offset-8 text-primary-700 text-2xl hover:text-tertiary-900 transition-colors rounded-md"
            ><h1 class="">{title}</h1></a
         >
         <div>
            {
               tags.map((tag: String) => (
                  <span class="ml-2 px-2 py-1 bg-primary-200 text-white rounded-lg">
                     {tag}
                  </span>
               ))
            }
         </div>
      </div>
      <p>{description}</p>
      <span>{date.toLocaleDateString()}</span>
   </div>
</li>
